<!-- partial:partials/_sidebar.html -->
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item nav-profile">
            <div class="nav-link">
                <div class="user-wrapper">
                    <div class="profile-image">
                        <img src="{{ asset('images/logo-iris.jpg') }}" alt="profile image">
                    </div>
                    <div class="text-wrapper">
                        <p class="profile-name">
                            {{ app.user.username }}
                        </p>
                        <div>
                            <small class="designation text-muted">
                                {% if is_granted('ROLE_SUPER_ADMIN') %}
                                    Administrateur
                                    {% elseif is_granted('ROLE_DIRECTEUR') %}
                                    Directeur
                                    {% elseif is_granted('ROLE_SECRETAIRE') %}
                                    Secrétaire
                                    {% elseif is_granted('ROLE_TECHNICIEN') %}
                                    Technicien
                                    {% elseif is_granted('ROLE_ACHAT') %}
                                    Responsable achat
                                    {# elseif is_granted('ROLE_LOGISTIC') %}
                                    Responsable logistique #}
                                {% endif %}
                            </small>
                            <span class="status-indicator online"></span>
                        </div>
                    </div>
                </div>
                {% if not is_granted('ROLE_SUPER_ADMIN') %}
                <a href="{{ path('document_new') }}" class="btn btn-success btn-block">Nouveau document
                    <i class="mdi mdi-plus"></i>
                </a>
                {% endif %}
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('dashboard') }}">
                <i class="menu-icon mdi mdi-television"></i>
                <span class="menu-title">Tableau de bord</span>
            </a>
        </li>
        {% if is_granted('ROLE_SUPER_ADMIN') %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin_index') }}">
                    <i class="menu-icon mdi mdi-television"></i>
                    <span class="menu-title">Utilisateurs</span>
                </a>
            </li>
        {% endif %}
        {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_DIRECTEUR') %}
        <li class="nav-item">
            <a class="nav-link" href="{{ path('categorie_index') }}">
                <i class="menu-icon mdi mdi-television"></i>
                <span class="menu-title">Catégories</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('admin_stats') }}">
                <i class="menu-icon mdi mdi-elevation-rise"></i>
                <span class="menu-title">Statistiques</span>
            </a>
        </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('document_index') }}">
                    <i class="menu-icon mdi mdi-elevation-rise"></i>
                    <span class="menu-title">Gestion des documents</span>
                </a>
            </li>
        {% endif %}
        <li class="nav-item">
            <a class="nav-link" href="{{ path('categorie_new') }}">
                <i class="menu-icon mdi mdi-elevation-rise"></i>
                <span class="menu-title">Ajouter une catégorie</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('message_inbox') }}">
                <i class="menu-icon mdi mdi-mailbox"></i>
                <span class="menu-title">Messagerie</span>
            </a>
        </li>
    </ul>
</nav>
<!-- partial -->