{% extends 'base.html.twig' %}

{% block body %}
    <h1>Edition</h1>

    {% form_theme edit_form 'bootstrap_4_layout.html.twig' %}
    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('admin_user_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}

{#importer ts les javascripts dans base.#}
{% block javascripts %}
    {{ parent()}}

    <script src="{{ asset('bundles/bnbcupload/js/1_jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/bnbcupload/js/2_jquery.ui.widget.js') }}"></script>
    <script src="{{ asset('bundles/bnbcupload/js/3_jquery.iframe-transport.js') }}"></script>
    <script src="{{ asset('bundles/bnbcupload/js/4_jquery.fileupload.js') }}"></script>
    <script src="{{ asset('bundles/bnbcupload/js/5_init.js') }}"></script>

{% endblock %}
