{% extends 'base.html.twig' %}

{% block body %}
    <h1>Création de document</h1>

    {{ form_start(form) }}
    {{ form_label(form.titre) }}
    {{ form_widget(form.titre) }}
    <br>
    {{ form_label(form.fichier) }}
    {{ form_widget(form.fichier) }}
    <br>
    {{ form_label(form.commentaire) }}
    {{ form_widget(form.commentaire) }}
    <br>
    {{ form_label(form.categorie) }}
    {{ form_widget(form.categorie) }}
    <br>
    {{ form_label(form.users, 'Destinataires') }}
    {{ form_widget(form.users) }}
    <br>
        <input class="btn btn-primary btn-block" type="submit" value="Enregistrer" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('document_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
{#importer ts les javascripts dans base.#}
{% block javascripts %}
{{ parent()}}

<script src="{{ asset('bundles/bnbcupload/js/1_jquery.min.js') }}"></script>
<script src="{{ asset('bundles/bnbcupload/js/2_jquery.ui.widget.js') }}"></script>
<script src="{{ asset('bundles/bnbcupload/js/3_jquery.iframe-transport.js') }}"></script>
<script src="{{ asset('bundles/bnbcupload/js/4_jquery.fileupload.js') }}"></script>
<script src="{{ asset('bundles/bnbcupload/js/5_init.js') }}"></script>

{% endblock %}