{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Détail document</h4>
                    <p>
                    <ul class="list-unstyled">
                        <li>
                            <b>Titre</b> <br>
                            {{ document.titre }}
                        </li>
                        <li>
                            <b>Date de création</b> <br>
                            {% if document.dateCreation %}{{ document.dateCreation|date('Y-m-d H:i:s') }}{% endif %}</li>
                        <li>
                            <b>Comentaire</b> <br>
                            {{ document.commentaire }}
                        </li>
                    </ul>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-9 loadingInProgress" tabindex="1">
            <div class="se-pre-con"></div>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Prévisualisation du document : '{{ document.titre }}'</h4>
                    <a class="media" href="{{ asset('uploads/'~ document.fichier) }}"></a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script type="text/javascript" src="{{ asset('js/jquery.media.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.metadata.js') }}"></script>

    <script>
        $('a.media').media({width:700, height:400});
    </script>
{% endblock %}